nav {
	position: relative;
	background-color: rgb(49, 49, 49);
	display: flex;
	padding: 10px;
  align-items: center;
}

nav img {
	display: none;
}

nav ul {
	display: flex;
}

nav li {
	list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
	text-decoration: none;
	margin: 0 20px;
}

@media (max-width: 800px) {
	nav img {
		display: block;
		width: 30px;
		height: 30px;
	}

	nav ul {
		position: absolute;
		flex-direction: column;
		background-color: rgb(59, 59, 59);
		top: 35px;
		min-width: 50%;
		min-height: 75vh;
		transition: all 0.5s ease-in-out;
    padding: 50px;
	}

	#closed {
		left: -100%;
	}
	#open {
		left: 0;
	}

  nav li{
    text-align: center;
    margin: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.284);
    transition: all 0.2s ease-in-out;
  }
  nav li:hover, nav a:hover{
    border-bottom: 1px solid rgb(60, 149, 238);
    color: rgb(57, 142, 227);
    transition: all 0.2s ease-in-out;
  }
  nav a{
    text-align: center;
    font-size: 25px;
    margin: 10px 0;
  }
}
